<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="/lib/bootstrap/dist/**/*.min.css" rel="stylesheet" />
    @RenderSection("scripts", false)
</head>
<body class="m-1 p-1">
    @RenderBody()
</body>
</html>