@model IEnumerable<City>

<table class="table table-sm table-bordered">
    @foreach (var city in Model) {
        <tr>
            <td>@city.Name</td>
            <td class="text-right">
                @city.Population.ToString("#,###")
            </td>
        </tr>
    }
    <tr>
        <th>Total:</th>
        <td class="text-right">
            @Model.Sum(p => p.Population).ToString("#,###")
        </td>
    </tr>
</table>
